{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title%}UGfindme{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <script src="{% static "js/login.js" %}" ></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
          {% comment %} {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}  {% endcomment %}
    </head>
    <body>
        <nav class="navbar">
            <div id="header">
                <a href="/" class="logo">UGfindme</a>
            </div>

            <div class="Signup">
                {% if request.user.is_authenticated %}
                    <span>Hi {{ request.user.username | title }}
                    <a href="{% url 'shop:logout'%}">Logout</a>
                {% else %}
                    <a href="{% url "shop:login" %} ">Login</a>
                {% endif %}
               
            </div>
           
        </nav>
        <div id="subheader">
            <div class="claim">
                You claim box is empty.
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer class="site-footer">
      <div class="footer-content">
        <section class="footer-links">
          <div class="link-column">
            <h6><a href="#!">About us</a></h6>
          </div>
          <div class="link-column">
            <h6><a href="#!">Lost Items</a></h6>
          </div>
          <div class="link-column">
            <h6><a href="#!">Awards</a></h6>
          </div>
          <div class="link-column">
            <h6><a href="#!">Help</a></h6>
          </div>
          <div class="link-column">
            <h6><a href="#!">Contact</a></h6>
          </div>
        </section>
    
        <hr>
    
        <section class="footer-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            distinctio earum repellat quaerat voluptatibus placeat nam,
            commodi optio pariatur est quia magnam eum harum corrupti
            dicta, aliquam sequi voluptate quas.
          </p>
        </section>
    
        <section class="footer-social">
          <a href="#!" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#!" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#!" class="social-icon"><i class="fab fa-google"></i></a>
          <a href="#!" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#!" class="social-icon"><i class="fab fa-linkedin"></i></a>
          <a href="#!" class="social-icon"><i class="fab fa-github"></i></a>
        </section>
      </div>
    
      <div class="footer-copyright">
        <p>© 2024 Copyright: <a href="https://mdbootstrap.com/">UGfindme.com</a></p>
      </div>
    </footer>
</html>